@page
@model MushroomForum.Pages.Game.GameModel
@{
    ViewData["Title"] = "Minigierka: Mushroom Fall";
}

<h2>Zagraj w Mushroom Fall</h2>
<a href="https://www.culinaryschools.org/kids-games/mushroom-fall/" target="_blank" rel="noopener noreferrer">
    <button>Graj teraz</button>
</a>
