@page
@model MushroomForum.Pages.Game.GameModel
@{
    ViewData["Title"] = "Minigierka";
}

<h2>Minigierka</h2>
<canvas id="gameCanvas" width="400" height="400"></canvas>


<script src="/js/game.js"></script>

