@model List<MushroomForum.ViewModels.RankingViewModel>

@{
    ViewData["Title"] = "Ranking użytkowników";
}

<h2>Ranking użytkowników</h2>
<a class="nav-link nav-button-green" asp-controller="Quiz" asp-action="Index">Powrót do quizów</a>
<table class="table textcolor">
    <thead>
        <tr>
            <th>Miejsce</th>
            <th>Nazwa użytkownika</th>
            <th>Punkty</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].UserName</td>
                <td>@Model[i].Points</td>
            </tr>
        }
    </tbody>
</table>
