@{
    ViewData["Title"] = "Wynik quizu";
}

<h2>Wynik quizu</h2>

<p>Poprawne odpowiedzi: @ViewBag.Score z @ViewBag.TotalQuestions</p>

<p>Twoja obecna liczba punktów: @ViewBag.CurrentPoints</p>

<a asp-controller="Quiz" asp-action="Take" asp-route-id="@ViewBag.QuizId">Spróbuj ponownie</a>
