@model MushroomForum.Models.Post
@{
    ViewData["Title"] = "Dodaj nowy post";
}

<div class="create-thread-container">
    <h1 class="forum-title">Dodaj nowy post</h1>
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Treść postu</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="mediaFile" class="form-label">Dodaj obraz lub wideo</label>
            <input type="file" name="mediaFile" class="form-control" accept="image/*,video/*" />
        </div>
        <input type="hidden" asp-for="ForumThreadId" value="@ViewData["ForumThreadId"]" />
        <div class="mb-3">
            <button type="submit" class="nav-link nav-button-green d-inline-block">Zapisz</button>
            <a asp-controller="ForumThreads" asp-action="Details" asp-route-id="@ViewData["ForumThreadId"]" class="nav-link nav-button-green" style="display: inline-block;">Anuluj</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}