<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MushroomForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link id="themeStylesheet" rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MushroomForum.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>*@

<body>
    <header>
        <div class="banner">
            <img src="/images/baner.png" alt="Baner forum z napisem MushroomForum" />
            <div class="banner-text">
                MushroomForum
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex ms-auto">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">🍄 MushroomForum</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" asp-area="" asp-controller="ForumThreads" asp-action="Index">Forum</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-link-white" href="#" id="grzybobranieDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Grzybobranie
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="grzybobranieDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="MushroomSpots" asp-action="Index">Miejsca grzybobrania</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="MushroomNotes" asp-action="Index">Notatnik</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="MushroomId" asp-action="Index">Identyfikowanie grzybów</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-link-white" href="#" id="rozrywkaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Rozrywka
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="rozrywkaDropdown">
                                    <li><a class="dropdown-item" asp-page="/Game/Game">Gra</a></li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Quiz" asp-action="Index">Quizy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-link-white" href="#" id="ustawieniaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Konto
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="ustawieniaDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia konta</a>
                                    </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Quiz" asp-action="YourRanking">Zobacz ranking użytkowników</a>
                                        </li>
                                    <li>
                                        <button class="dropdown-item" onclick="toggleTheme()">Zmień motyw</button>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="d-flex ms-auto">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MushroomForum
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
    var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
        function toggleTheme() {
            const link = document.getElementById('themeStylesheet');
            const currentHref = link.getAttribute('href');

            if (currentHref.includes('site.css')) {
                link.setAttribute('href', '/css/site2.css');
                localStorage.setItem('theme', 'dark');
            } else {
                link.setAttribute('href', '/css/site.css');
                localStorage.setItem('theme', 'light');
            }
        }

        window.addEventListener('DOMContentLoaded', () => {
            const savedTheme = localStorage.getItem('theme');
            const link = document.getElementById('themeStylesheet');

            if (savedTheme === 'dark') {
                link.setAttribute('href', '/css/site2.css');
            }
    });
</script>

</html>