@{
    ViewData["Title"] = "Miejsca grzybobrania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map {
            height: 80vh;
            width: 100%;
        }

        #map-container {
            width: 600px;
            height: 300px;
            position: center;
        }

        #map {
            width: 100%;
            height: 100%;
        }


        .leaflet-popup-content form {
            display: flex;
            flex-direction: column;
        }

        .star-rating {
            direction: rtl;
            display: flex;
            justify-content: start;
        }

            .star-rating input {
                display: none;
            }

            .star-rating label {
                font-size: 1.5em;
                color: #ccc;
                cursor: pointer;
                padding: 0 2px;
            }

            .star-rating input:checked ~ label {
                color: gold;
            }

            .star-rating label:hover,
            .star-rating label:hover ~ label {
                color: gold;
            }

    </style>
}

<h2>Miejsca grzybobrania</h2>
<div style="display: flex; height: 100vh;">
    <div style="width: 30%; padding: 10px; overflow-y: auto; display: flex; flex-direction: column;">
        <button class="nav-link nav-button-green" onclick="exportMapToPDF()" style="margin-bottom: 10px;">
            Zapisz mapę jako PDF
        </button>
        <input type="text" id="filter" placeholder="Filtruj po opisie lub ocenie" />
        <ul id="placeList"></ul>
    </div>
    <div id="map-container" style="width: 70%; position: relative;">
        <div id="map"></div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="~/js/mushroom-map.js"></script>

}
