@model MushroomForum.Models.MushroomNotes

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/note-form.css" />
}

<form asp-action="Create" enctype="multipart/form-data" class="note-container">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

    <input asp-for="Title" placeholder="Tytuł notatki" class="form-control note-title" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <textarea asp-for="Content" class="form-control note-content" placeholder="Wpisz treść notatki..."></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>

    <div class="note-actions">
        <div class="left-actions">
            <label for="fileInput" class="nav-link nav-button-green">📁 Załącznik</label>
            <input type="file" id="fileInput" name="PhotoUrl" class="custom-file-input" accept="image/*,video/*" />
        </div>

        <!-- Prawa strona: akcje -->
        <div class="right-actions">
            <a asp-action="Index" class="nav-link nav-button-green">Powrót</a>
            <button type="submit" class="nav-link nav-button-green">Utwórz</button>
        </div>
    </div>

    <input type="hidden" asp-for="CreateDate" value="@DateTime.Now" />
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
