@{
    ViewData["Title"] = "Strona główna";
}

<div class="welcome-card">
    <h1 class="display-4">Jedyne takie forum dla grzybiarzy!</h1>
    <p>Dołącz do największej w Polsce społeczności pasjonatów grzybobrania. Dziel się swoimi zbiorami, identyfikuj nieznane gatunki, wymieniaj się wiedzą i doświadczeniem.</p>
    <p>Niezależnie czy jesteś doświadczonym grzybiarzem czy dopiero zaczynasz swoją przygodę z grzybobraniem, znajdziesz tu przydatne informacje i przyjaznych ludzi gotowych do pomocy.</p>
</div>

<div class="content-container">
    <div class="left-column">
        <h3 class="small-header">Czy wiedziałeś, że...? Ciekawostki o grzybach i grzybobraniu:</h3>
        <p>@ViewData["Ciekawostka"]</p>
        <img src="@ViewData["CiekawostkaImg"]" alt="Zdjęcie do ciekawostki" style="max-width: 100%;" />
    </div>
    <div class="right-column">
        <h3 class ="small-header">Memy nadesłane przez użytkowników ;D</h3>
        <img src="@ViewData["Mem"]" alt="Mem o grzybach :D" />
    </div>
</div>

<div class="features">
    <div class="feature-card">
        <h3>Identyfikacja grzybów</h3>
        <p>Masz wątpliwości co do zebranych grzybów? Zamieść zdjęcie, a spróbujemy je zidetyfikować!</p>
        <a asp-controller="MushroomId" asp-action="Index" class="nav-link nav-button-green">Sprawdź dział identyfikacji</a>
    </div>
    <div class="feature-card">
        <h3>Encyklopedia</h3>
        <p>Skorzystaj z naszej encyklopedii grzybów uzupełnianej przez doświadczonych grzybiarzy</p>
        <a asp-controller="MushroomWiki" asp-action="Index" class="nav-link nav-button-green">Encyklopedia</a>
    </div>
    <div class="feature-card">
        <h3>Ranking użytkowników</h3>
        <p>Rywalizuj ze swoimi znajomymi, aby zostać najlepszym grzybiarzem!</p>
        <a asp-controller="Quiz" asp-action="YourRanking" class="nav-link nav-button-green">Ranking</a>
    </div>
</div>